 body {
	font-family: Courier;
	color: ivory;
	background-image: url("bg1.png");
	background-attachment: fixed;
	background-repeat: none;
	background-size: cover;
}

h1{
	font-family: Courier; 
	color: ivory;
	background-color: black;
	text-align: center;
}

p {
	font-family: Courier;
	line-height: 1.5em;
	text-indent: 25px;
	margin-bottom: 25px;
	margin-top: 30px;
}

h3 {
	font-family: Courier; 
	color: ivory;
	background-color: black;
	text-align: left;
	font-size: 16pt;

}

h4 {
	font-family: Courier;
	color: ivory;
	background-color: black;
	text-align: left;
	font-size: 16pt;

}


ul {
	font-family: Courier;
	line-height: 1.25em;
	text-indent: 10px;
	margin-bottom: 10px;
	margin-top: 15px;

}

ol {
	font-family: Courier;
	line-height: 1.25em;
	text-indent: 10px;
	margin-bottom: 10px;
	margin-top: 15px;
	
}

div {
	background-color: rgba(112,128,144,0.5);
	width: 600px;
	margin-left: auto;
	margin-right: auto; 
	padding: 20px;
	border: 5px solid black;
}